config.js
data.json
*.env

# Fichiers système et de développement
.DS_Store
Thumbs.db
*.log
.idea/

assets/images/*.png
assets/images/*.jpg
assets/images/*.jpeg
assets/images/*.gif
assets/images/*.svg
